/.idea/.gitignore
/.idea/BASE_Python_lessons.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/base_lessons/group.pickle
/base_lessons/group.json
/.idea/sonarlint/issuestore/1/a/1a2189b0e38eb35d9fa2c70a83bdb8cb3d3af309
/.idea/sonarlint/issuestore/3/c/3c8110282a6c9c4fe5733a045bffb8bfd0da3ba1
/.idea/sonarlint/issuestore/5/1/5177e174d95ff97936f66630a17355ae4eb05f2d
/.idea/sonarlint/issuestore/8/6/8688d8e69c2789634ed3552943183ec96217b936
/fsf
/.idea/sonarlint/issuestore/index.pb
/max.txt
